* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /* css reset */


body {
    background-color: #f1d5d5;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #af4f4f;
    font-size: 40px;


}